@model HirePros.Models.User
<body id="page-top">

    <!-- Masthead -->
    <header class="page-section ">

        <h2 class="mt-0 text-dark">Welcome @ViewBag.Username !</h2>
        

        <div class="container-fluid p-0">

            @if (Model.Username.Equals("Admin"))
            {
                <h3 class="text-primary">Choose action </h3>


                <div class="row">


                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Professional" asp-action="Index">
                            <img src="../img/Admin/List.png" width="90" height="90" alt="" />
                            <div>See Professionals List</div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <a class="nav-link " asp-controller="Professional" asp-action="Add">
                                <img class="img-fluid fa-500px" src="../img/Admin/list-add.png" width="90" height="90" alt="" />
                                <div>Add Professional to list</div>
                            </a>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Service" asp-action="Index">
                                <img class="img-fluid" src="../img/Admin/List.png" width="90" height="90" alt="" />
                                <div>See Services List</div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5 ">
                            <a class="nav-link " asp-controller="Service" asp-action="Add">
                                <img class="img-fluid" src="../img/Admin/list-add.png" width="90" height="90" alt="" />
                                <div>Add Services</div>
                            </a>

                        </div>
                    </div>

                </div>
            }
            else
            {

                <p><a class="btn btn-primary btn-xl js-scroll-trigger" asp-controller="User" asp-action="AddUserPro" asp-route-name="@Model.Username"></a>Add new professional to list</p>
                <p><a asp-controller="User" asp-action="ViewUserProf" asp-route-name="@Model.Username">Your list</a></p>


            }
        </div>

    </header>

</body>
<!-- About Section -->
