@{
    ViewData["Title"] = "Home Page";
}

    <body id="page-top">

        <!-- Masthead -->
        <header class="masthead">
            <div class="cotainer p-0 h-100">

                <div class="row h-100 align-items-center justify-content-center text-center">

                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Your One stop shop to Connect with Local Pros </h1>
                        <hr class="divider my-4">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">HirePro can help you find pros at your fingertip and connecting with them in real time using messagePro! Just select a service, select pros and start interacting, Hire them only when u like the deal!</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" asp-controller="Professional" asp-action="Index">Find Pros</a>
                    </div>
                </div>
            </div>
        </header>

                <!-- About Section -->
    </body>

